body {
  font-family: tahoma;
  text-align: center;
  color: #272829;
}
.wrapper {
  height: 15vh;
  display: grid;
  place-items: center;
}
h2 {
  /*animation is glitching. will reimplement soon*/
  /*width: 5ch;
  animation: typing 1s steps(5);
  overflow: hidden;*/
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
  font-size: 2em;
  white-space: nowrap;
}
@keyframes typing {
  from {
    width: 0
  }
}
input {
  font-size: 2.5em;
  text-align: center;
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}
button {
  font-size: 1.5em;
  width: 75px;
  height: 50px;
}
#credits {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
#source_code {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#new_number {
  color: #6f828a;
  text-decoration: underline;
  cursor: pointer;
}