body {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
  text-align: center;
  color: #272829;
}
.wrapper {
  height: 15vh;
  display: grid;
  place-items: center;
}
h2 {
  /*animation is glitching. will reimplement soon*/
  /*width: 5ch;
  animation: typing 1s steps(5);
  overflow: hidden;*/
  font-size: 2em;
  white-space: nowrap;
}
@keyframes typing {
  from {
    width: 0
  }
}
input {
  font-size: 2.5em;
  text-align: center;
}
button {
  font-size: 1.5em;
  width: 75px;
  height: 50px;
}
#credits {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
#source_code {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
#new_number {
  color: #6f828a;
  font-size: 1.5em;
  text-decoration: underline;
  cursor: pointer;
  /*set width*/
}
#enter_solution {
  font-size: 2em;
  background-color: #0485d1;
}
#input_line {
  margin-top: 125px;
  display: inline-flex;
}
#about_page {
  margin: auto;
  font-size: 1.75em;
  font-family: Arial;
  max-width: 50%;
}
.tutorial_text {
  margin: auto;
  font-size: 1.5em;
  max-width: 40%;
}
#math_operations {
  margin: auto;
  font-size: 1.5em;
  max-width: 40%;
}